* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

li {
    list-style: none;
}

body {
    font-family: 'Source Code Pro', monospace;
    background: url("../img/bg-2.jpg") no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    color: #aeaeaa;
}

.title {
    font-size: 36px;
    font-weight: normal;
}

.box {
    background: #eee;
    padding: 3.5rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.10);
    border-radius: 50px;
    text-align: center;
}

.profile-pic {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto 2rem auto;
}

.profile span {
    font-size: 20px;
}

.profile p {
    font-size: 18px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.redes-sociais {
    display: flex;
    justify-content: center;
}

.redes-sociais li {
    margin-right: 1rem;
}